<header>
  <div class="container my-3 d-flex justify-content-center">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/login">Login or Sign Up</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#" (click)="todo.toggle()">To-Do List</a>
      </li>-->
    </ul>
  </div>
</header>

<!--<mat-sidenav-container style="background-color:white">
  <mat-sidenav #todo position="end" mode="side">
    <app-todo></app-todo>-->
  <!--</mat-sidenav>-->
  <!--<mat-sidenav-content>-->
<div class="container">
  <router-outlet></router-outlet>
</div>
  <!--</mat-sidenav-content>
</mat-sidenav-container>-->

