<h1 style="text-align: center;">ToDo List</h1>
<!-- card for the main todo list screen-->
<mat-card class="todo-list-card">
  <mat-card-title class="card-title">To-Do List</mat-card-title>
  <div class="tasks">
    <!-- class for input field and add button -->
    <form class="tasks-input">
      <!-- input field for text -->
      <mat-form-field class="tasks-input-field">
        <mat-label>Add a Task</mat-label>
        <input type="text" name="inputTask" matInput placeholder="Ex. Study for Test" [(ngModel)]="inputTask" />
      </mat-form-field>
      <!-- button to add to list-->
      <button class="add" (click)="addTask()" mat-raised-button>+</button>
    </form>
    <mat-divider></mat-divider>
    <!-- list of tasks -->
    <mat-list class="list">
      <!-- grabs all objects from array in ts file -->
      <mat-list-item class="list-element" *ngFor="let task of tasks; let index = index;">
        <!-- string in ts array -->
        <div class="content">{{task.content}}</div>
        <!-- button to delete-->
        <button class="remove" style="float: right" (click)="deleteTask(index)" mat-raised-button> - </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  </mat-card>
  
