<h1 class="m-3" style="text-align: center;">Pomodoro Timer</h1>
<br />
<div class="card" style="width: 40rem; margin: auto;">
  <div class="card-body d-flex justify-content-center">
    <mat-tab-group>
      <mat-tab label="Pomodoro">
        <h1 class="m-4" style="text-align: center; font-size: 120px;">{{pomodoroTimer.timeString}}</h1>
        <div class="d-flex justify-content-center">
          <button mat-raised-button color="primary" class="mx-3" (click)="onPomodoroButton()">{{pomodoroTimer.buttonText}}</button>
        </div>
      </mat-tab>
      <mat-tab label="Short Break">
        <h1 class="m-4" style="text-align: center; font-size: 120px;">{{shortBreakTimer.timeString}}</h1>
        <div class="d-flex justify-content-center">
          <button mat-raised-button color="primary" class="btn btn-primary btn-lg mx-3" (click)="onShortBreakButton()">{{shortBreakTimer.buttonText}}</button>
        </div>
      </mat-tab>
      <mat-tab label="Long Break">
        <h1 class="m-4" style="text-align: center; font-size: 120px;">{{longBreakTimer.timeString}}</h1>
        <div class="d-flex justify-content-center">
          <button mat-raised-button color="primary" class="btn btn-primary btn-lg mx-3" (click)="onLongBreakButton()">{{longBreakTimer.buttonText}}</button>
        </div>
      </mat-tab>
      
      <mat-tab label="Timer Settings">
        <div class="d-flex justify-content-center">
          <mat-list class="list mb-3">
            <!-- CHnages the Pomodoro Timer -->
            <mat-list-item class="PomodoroTimer-settings">
              <mat-label class="ml-3" style="width: 300px">Pomodoro Timer</mat-label>
              <mat-form-field style="width: 100px; text-align: center;">
                <input type="number" name="PomodoroMinutes" min="0" matInput [(ngModel)]="PomodoroMinutes" />
              </mat-form-field>
              :
              <mat-form-field style="width: 100px; text-align: center;">
                <input type="number" name="PomodoroSeconds" min="0" max="59" matInput [(ngModel)]="PomodoroSeconds" />
              </mat-form-field>
              <button mat-raised-button color="primary" class="btn btn-primary btn-lg mx-3" (click)="onSavePomodoroTimerConfig()">Save</button>
              <mat-divider></mat-divider>
            </mat-list-item>
            <!-- CHnages the Short Timer -->
            <mat-list-item class="ShortTimer-settings">
              <mat-label class="ml-3"  style="width: 300px">Short Break Timer</mat-label>
              <mat-form-field style="width: 100px; text-align: center;">
                <input type="number" name="ShortBreakMinutes" min="0" matInput [(ngModel)]="ShortBreakMinutes" />
              </mat-form-field>
              :
              <mat-form-field style="width: 100px; text-align: center;">
                <input type="number" name="ShortBreakSeconds" min="0" max="59" matInput [(ngModel)]="ShortBreakSeconds" />
              </mat-form-field>
              <button mat-raised-button color="primary" class="btn btn-primary btn-lg mx-3" (click)="onSaveShortTimerConfig()">Save</button>
              <mat-divider></mat-divider>
            </mat-list-item>
            <!-- CHnages the Pomodoro Timer -->
            <mat-list-item class="LongTimer-settings">
              <mat-label class="ml-3"  style="width: 300px">Long Break Timer</mat-label>
              <mat-form-field style="width: 100px; text-align: center;">
                <input type="number" name="LongBreakMinutes" min="0" matInput [(ngModel)]="LongBreakMinutes" />
              </mat-form-field>
              :
              <mat-form-field style="width: 100px; text-align: center;">
                <input type="number" name="LongBreakSeconds" min="0" max="59" matInput [(ngModel)]="LongBreakSeconds" />
              </mat-form-field>
              <button mat-raised-button color="primary" class="btn btn-primary btn-lg mx-3" (click)="onSaveLongTimerConfig()">Save</button>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="card mt-3" style="width: 40rem; margin: auto;">
  <div class="card-body justify-content-center">
    <mat-card-content>
      <div class="row">
        <div class="col-sm-2">
          <button class="mt-4" mat-fab style="background-color:rgb(222,120,50)" aria-label="To-Do List" (click)="changeApp(apps.todo)">
            <mat-icon>list</mat-icon>
          </button>
          <button class="mt-4" mat-fab style="background-color:rgb(200, 173, 144)" aria-label="Break Suggestions" (click)="changeApp(apps.break)">
            <mat-icon>coffee</mat-icon>
          </button>
          <button class="mt-4" mat-fab style="    background-color: rgb(145,168,209)" aria-label="Relaxing Sounds" (click)="changeApp(apps.sounds)">
            <mat-icon>music_note</mat-icon>
          </button>
          <button class="mt-4" mat-fab style="background-color:rgb(168,203,168)" aria-label="Breathing Exercises" (click)="changeApp(apps.breathe)">
            <mat-icon>self_improvement</mat-icon>
          </button>
        </div>
        <div class="col-lg-10">
          <app-todo *ngIf="currentApp == apps.todo"></app-todo>
          <app-break *ngIf="currentApp == apps.break"></app-break>
          <div *ngIf="currentApp == apps.sounds" class="card"></div>
          <app-breathe *ngIf="currentApp == apps.breathe"></app-breathe>
        </div>
      </div>
    </mat-card-content>
  </div>
</div>

  <!--<div class="play-container">
    <p>Start the Timer: <span (click)="countdown()">Begin </span> <span (click)="playCountdown()">Play </span> <span (click)="pauseCountdown()">Pause </span>{{ timer }} seconds</p>
  </div>-->
